<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{HTTP_HOST} !^(piratesforums\.com)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ http://piratesforums.com/$1 [R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^(data|js|styles|install) - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>